/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;800&display=swap"); */
*{
    /* font-family:"Poppins", Verdana, Tahoma, sans-serif; */
    font-family: 'Klee One', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.html {
    overscroll-behavior: none;
}
.foam{
    margin: 0px;
    height: 190px;
    width: 2000px;
    min-width: 100%;
    z-index: 20;
    position: fixed;
}
body{
    width: 100%;
    height: 100%;
    min-width: 600px;
    position: relative;
    background:linear-gradient(0deg,rgb(255, 235, 9) ,rgb(255, 150, 0));
}
body h1{
    color: #FFFFFF;
    font-size: 48px;
    margin: 20px;
}
body h2{
    color: #FFFFFF;
    font-size: 36px;
}
body h3{
    color: #FFFFFF;
    font-size: 24px;
}
body h4{
    color: black;
    font-size: 24px;
}
body h5{
    font-size: 21px;
}
.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    padding: 20px 10%;
    display: flex; /* 並べ方のテンプレート */
    justify-content: space-between; /* headerの意の要素間のスペース */
    align-items: center;
    z-index: 100;
    object-fit: cover;
    min-width: 600px;
    min-height: 50px;
}
.logo a{
    font-size: 50px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 23px;
    left: 72px;
    font-weight: 600;
}
.navbar a{ /* anchorのみに作用する */
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    vertical-align: 0px;
    transition: 300ms; /* hoverまでの時間 */
}
.navbar a:hover{ /* カーソルの認識 */
    color: rgb(255, 140, 0);
}
.home{
    width: 100%;
    position: relative;
    top: 300px;
    min-width: 600px;
    min-height: 800px;
}
.sheet{
    position: relative;
    top: 0px;
    /* background-color: rgb(230, 140, 90); */
    /* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5); */
    height: 110%;
}
footer {
    box-sizing : border-box;
    width: 110%;
    height: 200px; 
    text-align: center;
    padding: 50px 0;
    background-color: #cab64a;
    z-index: 100;
    min-width: 500px;
    min-height: 100px;
}
.big{
    font-size: 22px;
}
.skeleton {
    height: 50vh; /* スクロールが発生するよう適当な高さを確保 */
    width: 70vw;
    opacity: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}
/* button */
.btn,
a.btn,
button.btn {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    display: inline-block;
    padding: 100rem 4rem;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    z-index: 10;
}

a.btn-border {
    margin-bottom: 12px;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0;
}

a.btn-border span {
    position: relative;
    display: block;
    padding: 1.28rem 4rem;
    color: #000;
    border: 2px solid #000;
    border-radius: 0.5rem;
    background: #fff;
}

a.btn-border:before {
    position: absolute;
    bottom: -8px;
    left: 0;
    display: block;
    width: 100%;
    height: 14px;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #000;
    border-top: 1px solid #000;
    border-radius: 0 0 0.5rem 0.5rem;
    background-image: -webkit-repeating-linear-gradient(
        135deg,
        #000,
        #000 1px,
        transparent 2px,
        transparent 5px
    );
    background-image: repeating-linear-gradient(
        -45deg,
        #000,
        #000 1px,
        transparent 2px,
        transparent 5px
    );
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a.btn-border:hover {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
}

a.btn-border:hover:before {
    bottom: -5px;
}

a.btn-border:active {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px);
}

a.btn-border:active:before {
    bottom: -1px;
}


/* input */
.input{
    width: 232px;
    margin: 10px;
    padding: 10px 15px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}
.cp_iptxt {
	position: relative;
    left: 250px;
	width: 50%;
	margin: 30px 3%;
}
.cp_iptxt input[type='text'] {
	font: 20px/40px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 2em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
    font-weight: 700;
	position: relative;
	padding: 7px 15px;
	border: 0;
	border: 2.5px solid #1b2538;
	background: transparent;
}
.ef ~ .focus_bg:before,
.ef ~ .focus_bg:after {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	content: '';
	transition: 0.3s;
	background-color: rgba(218,60,65,.3);
}
.ef:focus {
	border: 2.5px solid #da3c41;
}
.ef:focus ~ .focus_bg:before,
.cp_iptxt.ef ~ .focus_bg:before {
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	transition: 0.3s;
}
.ef ~ .focus_bg:after {
	top: auto;
	right: 50%;
	bottom: 50%;
	left: auto;
}
.ef:focus ~ .focus_bg:after,
.cp_iptxt.ef ~ .focus_bg:after {
	right: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	transition: 0.3s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 14px;
	/* width: 100%; */
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #808080;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 20px;
	top: -40px;
	left: 0;
	transition: 0.3s;
	color: #da3c41;
}
.radius{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* select */
.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 230px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 25px 5px 10px;
    font-size: 1.6rem;
    cursor: pointer;
    color: #000;
    background-color: white;
}

.select:disabled {
    pointer-events: none;
    background-color: #f1f1f1;
    color: #aaa;
}
.select-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
}
  .select-wrapper::after {
    content: '';
    position: absolute;
    border: 6px solid orange;
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    top: calc(50% - 3px);
    right: 10px;
    width: 0;
    height: 0;
}
.select-wrapper--disabled::after {
    border-top-color: #aaa;
}

.addButton{
    font-size: large;
    width: 70px;
    height: 50px;
    border-radius: 10px;
}
.deleteButton{
    font-size: large;
    width: 70px;
    height: 50px;
    border-radius: 10px;
}
.startButton{
    font-size: large;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
.resetButton{
    font-size: large;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
.stopButton{
    font-size: large;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}