.background-game {
    background-image: url('../../../../../image/bubble.png');
    background-size: 500px;
    background-position: center;
    padding: 20px 10%;
    position: relative;
    top: 0px;
    width: 100%;
    height: 1200px;
    text-align: center;
    min-width: 600px;
    min-height: 1200px;
}
.btn-roulette{
    position: relative;
    top: 60px;
}
.btn-topic{
    position: relative;
    top:200px;
}
.btn-back{
    position: relative;
    top: 330px;
}