.background-topic {
    background-image: url('../../../../../../image/bubble.png');
    background-size: 500px;
    background-position: center;
    padding: 20px 10%;
    position: relative;
    top: 0px;
    width: 100%;
    height: 1000px;
    text-align: center;
    min-width: 600px;
    min-height: 1000px; 
}

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
    transform: rotateY(0deg); /* ここで初期状態を表面側に向ける */
  }
  
  .card-front,
  .card-back {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #6A2C70;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #6A2C70;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
    position:absolute
  }
  
  .card-back {
    background-color: #F08A5D;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #F08A5D;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }

.btn-topic{
  position: relative;
  top: 80px;
}

#table{
  top: 0px;
  left: 0px;
  margin: 0 auto;
}

.big{
  top: 0px;
  left: 0px;
  margin: 0 auto;
}