.btn-group{
    position: relative;
    top: 50px;
    left: 0px;
}
.btn-other{
    position: relative;
    top: 110px;
    left: 0px;
}
.background-group {
    background-image: url('../../../../image/bubble.png');
    background-size: 500px;
    background-position: center;
    padding: 20px 10%;
    position: relative;
    top: 0px;
    width: 100%;
    /* height: 1200px; → group.jsで指定 */
    text-align: center;
    min-width: 600px;
    min-height: 1500px; 
}
.group-name{
    margin: 5px;
}
.result-text{
    position: absolute;
    top: 150px;
}
.register-text{
    position: relatic;
    top: 0px;
}
.other-text{
    position: relative;
    top: 70px;
}
.history-text{
    position: relative;
    top: 140px;
}
.line-1{
    border: 2.5px solid white;
    position: relative;
    top: 10px;
    width: 500px;
    margin: 0 auto;
}
.line-2{
    border: 2.5px solid white;
    position: relative;
    top: 80px;
    width: 500px;
    margin: 0 auto;
}
.line-3{
    border: 2.5px solid white;
    position: relative;
    top: 150px;
    width: 500px;
    margin: 0 auto;
}

.result-group{
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; → group.jsで指定 */
    border: 2.5px solid black;
    border-radius: 40px;
}
.result{
    position: relative;
    top: 0px;
    margin: 5px;
    padding: 7px;
    color: black;
    background-color: white;
    border: 2.5px solid black;
    border-color: black;
    border-radius: 10px;
    font-size: 25px;
}
.history-group{
    position: relative;
    top: 180px;
    margin: 5px;
    padding: 7px;
    font-size: 25px;
}
.copy-button{
    position: relative;
    left: -13px;
    color: black;
    background-color: #EFEFEF;
}
.history{
    color: black;
    width: 400px;
    margin: 2px;
    padding: 10px 15px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: #EFEFEF;
    transition: 300ms; /* hoverまでの時間 */
}
.history:hover{
    color: rgb(255, 140, 0);
}

/* トグルボタン */
#toggleContent {
    display: none;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    background-color: white;
    border: 2.5px solid black;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}
#toggleButton {
    margin: 20px;
    background-color: rgb(255, 255, 162);
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms; /* hoverまでの時間 */
    &:hover {
        color: rgb(255, 140, 0);
    }
    
    &::-webkit-details-marker {
        display: none;
    }
}

/* 共有 */
.copy{
    width: 150px;
    height: 70px;
    font-size: 18px;
    margin: 10px;
    color: black;
    background-color: #EFEFEF;
    border: 2px solid black;
    border-radius: 10px;
    border-width: 2px;
    transition: 500ms; /* hoverまでの時間 */
    &:hover {
        color: rgb(255, 140, 0);
    }
    
    &::-webkit-details-marker {
        display: none;
    }
}
.paypay{
    background-color: #EFEFEF;
    margin: 10px;
    border: 2px solid white;
    transition: 500ms; /* hoverまでの時間 */
}
.paypay:hover{
    border: 2px solid orange;
}
.line{
    background-color: #EFEFEF;
    margin: 10px;
    border: 2px solid white;
    transition: 500ms; /* hoverまでの時間 */
}
.line:hover{
    border: 2px solid orange;
}