.btn-group{
    position: relative;
    top: 280px;
}
.background-begin {
    background-image: url('../../../image/bubble.png');
    background-size: 500px;
    background-position: center;
    padding: 20px 10%;
    position: relative;
    top: 0px;
    width: 100%;
    height: 1000px;
    text-align: center;
    min-width: 600px;
    min-height: 1000px; 
}
.input{
    z-index: -1;
}