.background-edit {
    background-image: url('../../../../../image/bubble.png');
    background-size: 500px;
    background-position: center;
    padding: 20px 10%;
    position: relative;
    top: 0px;
    width: 100%;
    /* height: 1100px; → edit.jsで指定 */
    text-align: center;
}
.btn-edit{
    position: relative;
    top: 100px;
    left: -12px;
}
.newMember{
    position: relative;
    left: 0px;
    margin: 20px;
}
.amount{
    width: 120px;
    position: relative;
    left: -40px;
}
.text-amount{
    position: relative;
    left: -118px;
}
.add{
    position: relative;
    top: -101px;
    left: 60px;
}
.memberDiv {
    margin-right: auto;
    margin-left: auto;
    width: 420px;
    background-color: rgb(253, 234, 214);
    border: 2.5px solid rgb(0, 0, 0);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}