.background-index {
    background-image: url('../../image/bubble.png');
    background-size: 500px;
    background-position: center;
    padding: 20px 10%;
    position: relative;
    top: 0px;
    width: 100%;
    height: 4000px;
    text-align: center;
    min-width: 600px;
    min-height: 4300px; 
}

.btn-begin{
    position: relative;
    top: 160px;
    left: 0px;
}

  /* 円→（角丸四角形を経由）→正方形 にマスクの形状を変化させるキーフレーム */
@keyframes reveal-image {
    from {
        clip-path: inset(100% round 100%);
    }
    to {
        clip-path: inset(0);
    }
}

.animationElement {
    width: 480px;
    height: 480px;
    /* スクロールアニメーションの設定 */
    animation: reveal-image linear both; /* アニメーションを指定。イージングはlinear。animation-fill-modeはboth */
    animation-timeline: view();
    animation-range: contain -230% contain 20%; /* 開始: 要素がビューポートに完全に入った時、終了: ビューポートの真ん中 */
    /* ↑ https://scroll-driven-animations.style/tools/view-timeline/ranges/#range-start-name=contain&range-start-percentage=0&range-end-name=contain&range-end-percentage=50&view-timeline-axis=block&view-timeline-inset=0&subject-size=smaller&subject-animation=scale-up&interactivity=clicktodrag&show-areas=yes&show-fromto=yes&show-labels=yes */
    margin: 80px;
}

.skeleton {
    height: 500px; /* スクロールが発生するよう適当な高さを確保 */
    width: 10px;
    opacity: 0;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* 初期状態: 透明 */
    }
    to {
      opacity: 1; /* 最終状態: 不透明 */
    }
}

/* フェードインを適用する要素に対するスタイル */
.fade-in {
    animation: fadeIn 2.2s ease-in-out; /* アニメーションの名前、時間、タイミング関数の設定 */
}

